*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

/* neutros */
--Neutral900: hsl(227, 75%, 14%);    
--Neutral800: hsl(226, 25%, 17%);    
--Neutral700: hsl(225, 23%, 24%);    
--Neutral600: hsl(226, 11%, 37%);    
--Neutral300: hsl(0, 0%, 78%);    
--Neutral200: hsl(217, 61%, 90%);    
--Neutral100: hsl(0, 0%, 93%);   
--Neutral0: hsl(200, 60%, 99%);

/* rojos */
--Red400:hsl(3, 86%, 64%);  
--Red500:hsl(3, 71%, 56%);  
--Red700:hsl(3, 77%, 44%); 

/* gradientes */

--gradiente-claro: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
--gradiente-oscuro: linear-gradient(180deg, #040918 0%, #091540 100%);

}


body{
    background: linear-gradient(180deg, #EBF2FC 0%, #EEF8F9 100%);
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--Neutral0);
    margin: 1rem;
    padding: 1rem 2rem;
    border-radius: 10PX;
    box-shadow: #040918 0px 5px 15px -10px;
}

.btn-moon{
    width: 4rem;
    height: 4rem;
    border: none;
    border-radius: 30%;
}


.hero-section{
    text-align: center;
    margin: 2rem 1rem;
}

.h1-hero{
    font-size: 3rem;
}

.btn-hero{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.btn-all{
    width: 6rem;
    height: 3.5rem;
    border: none;
    border-radius: 30px;
    background-color: var(--Red700);
    color: var(--Neutral0);
    font-size: 1.5rem;
    box-shadow: #040918 0px 5px 15px -10px;
}

.btn-active{
    width: 6.2rem;
    height: 3.5rem;
    border: none;
    border-radius: 30px;
    background-color: var(--Neutral0);
    font-size: 1.5rem;
    box-shadow: #040918 0px 5px 15px -10px;
}

.btn-inactive{
    width: 7rem;
    height: 3.5rem;
    border: none;
    border-radius: 30px;
    background-color: var(--Neutral0);
    font-size: 1.5rem;
    box-shadow: #040918 0px 5px 15px -10px;
}


/* inicio de card */

.container-extensions{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 2rem 1rem;

}
.cards{
    height: 15rem;
    width: 25rem;
    padding: 2rem 1rem;
    box-shadow: #040918 0px 5px 15px -10px;
    background-color: var(--Neutral0);
    border-radius: 20px;
}


.conteiner-devlens{
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
}
.cards div{
    display: flex;
    gap: 1rem;
    
}

/* devlens */
.div-text{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.img-card{
    width: 75pxpx;
    height: 75px;

}

.title-card{
    font-size: 1.85rem;

}

.p-card{
    font-size: 1.1rem;
    color: var(--Neutral600);
}

/* botones de tarjetas */
.btn-card{
    width: 7rem;
    height: 2.5rem;
    border: solid 1px var(--Neutral300);
    border-radius: 30px;
    background-color: var(--Neutral0);
    font-size: 1.2rem;
    margin-top: 1.5rem;
    
}

/* stylespy */
